<div class="footer">
  <div class="footer-links">
    Suivez-moi !
    <a href="https://www.linkedin.com/in/caroline-maurice-353091ab/" target="_blank"><i class="fab fa-linkedin"></i></a>
    <a href="https://github.com/carolinemaurice" target="_blank"><i class="fab fa-github"></i></a>
    <a href="https://www.codewars.com/users/carolinemaurice" target="_blank"><small>Codewars</small></a>
  </div>
  <div class="footer-copyright">
    Caroline MAURICE
  </div>
</div>
