<div id="home-back-image">
  <div class="container">
    <h1 id="home-h1">Qui suis-je ?</h1>
    <div class="d-flex justify-content-center mb-5">
      <%= image_tag "photo_profile.jpg", class:"avatar-bordered" %>
    </div>
    <div class="card-paragraph">
      <p>
      Titulaire d'un titre d'ingénieur en mécatronique, je me suis spécialisée dans les systèmes robotiques et embarqués.
        Durant mon parcours professionnel, j'ai eu l'occasion de développer des compétences dans différents domaines tels
          que la CAO, la conception de systèmes avioniques et la programmation (embarquée et applicative) dans différents langages.
        Ces expériences m'ont aussi permis d'appréhender le process de développement d'un produit dans son ensemble :
          recueil du besoin clients, spécification, architecture, conception, suivi et rédaction de plan de test.
      </p>
      <p>
        Je veux aujourd'hui m'orienter vers la conception et le développement d'applications web et mobile avec la possibilité
          de les coupler avec des équipements domotique ou IoT à destination de la santé, de l'environnement ou de la domotique.
      </p>
    </div>
  </div>
</div>
