.navbar-lewagon {
  justify-content: space-between;
  background: $blue;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon img {
  width: 40px;
}

.navbar-lewagon h2 {
  color: $green;
}

.nav-links {
  color: $green;
  opacity: 0.4;
  text-decoration: none;
  font-size: 16px;
  padding: 0px 10px;
}

.nav-links:hover {
  opacity: 1;
  color: $green;
}
